{% extends "base.html" %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h1 class="post-heading">{{ object.titulo }}</h1>
          <h4 class="subheading">{{ object.subtitulo }}</h4>

          <div class="article-content mt-4">
              {{ object.cuerpo | safe }}
          </div>

          <div class="article-meta mt-4">
              <p class="mb-1"><strong>Autor:</strong> {{ object.autor }}</p>
              <p class="mb-0"><strong>Fecha:</strong> {{ object.fecha }}</p>
          </div>

          <div class="article-actions mt-4">
              <a href="{% url 'lista_articulos' %}" class="btn btn-outline-secondary btn-sm">Volver a la lista</a>
          </div>
      </div>
  </div>
</div>
{% endblock contenido %}
